* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   min-height: 100%;
}

*::selection {
   background-color: #54ca95;
   color: #fff;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

button,
input,
textarea {
   outline: none;
   font-family: 'Poppins', sans-serif;
}
